
  <div class="mat-elevation-z8">
    <table mat-table  [dataSource]="dataSource"  id="vuelos">
  
      <!-- checbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)=" $event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
        </td>
      </ng-container>
  
      <!-- origen Column -->
      <ng-container matColumnDef="Origen">
        <th mat-header-cell *matHeaderCellDef > Origen </th>
        <td mat-cell *matCellDef="let row"> {{row.origen.descripcion}}</td>
      </ng-container>
  
      <!-- destino Column -->
      <ng-container matColumnDef="Destino">
        <th mat-header-cell *matHeaderCellDef> Destino </th>
        <td mat-cell *matCellDef="let row"> {{row.destino.descripcion}} </td>
      </ng-container>
  
      <!-- precio Column -->
      <ng-container matColumnDef="Precio">
        <th mat-header-cell *matHeaderCellDef >Precio </th>
        <td mat-cell *matCellDef="let row" > {{row.precio}} </td>
      </ng-container>
    <!-- precio Column -->
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef > Fecha </th>
      <td mat-cell *matCellDef="let row" > {{row.fecha | date : "dd/MM/yy HH:mm"}} </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="nombreDeColumnas" hidden="hidden"></tr>
      <tr mat-row *matRowDef="let row; columns: nombreDeColumnas;"></tr>

  
      
    </table>
  
    <mat-paginator [length]="listadoVuelos.totalVuelos" [pageIndex]="0" [pageSize]="10" [hidePageSize]="true"  [pageSizeOptions]="[5, 10, 25, 100]"  (page)="actualizarListadoVuelos()" [showFirstLastButtons]="true"></mat-paginator>
  </div>